@using WebApplication1.Models.ViewModel
@model DepartmentViewModel

<h1>Create New Department</h1>

<form method="post">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <td><input asp-for="Name" /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><input asp-for="Description" /></td>
        </tr>
    </table>
    <input type="submit" value="Save New Department" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-primary">Back to Listing</a>
</form>