@using WebApplication1.Models.ViewModel
@model DepartmentViewModel

<h1>Delete Department</h1>

<form method="post" asp-action="DeleteDepartment">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
    </table>
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Back to Listing</a>
</form>
